<html ng-app="CoffeeMateWebApp" >
<head>
  <title>CoffeeMate Web App</title>
  <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" />
  <link rel="stylesheet"  type="text/css" href="stylesheets/style.css"/>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular-route.js"></script>



  <script src="/javascripts/angularApp.js"></script>
  <script src="/javascripts/controllers/maincontroller.js"></script>
  <script src="/javascripts/controllers/coffeecontroller.js"></script>
  <script src="/javascripts/controllers/coffeescontroller.js"></script>
  <script src="/javascripts/controllers/aboutcontroller.js"></script>
  <script src="/javascripts/controllers/signincontroller.js"></script>


  <script src="/javascripts/controllers/editcontroller.js"></script>
  <script src="/javascripts/controllers/contactcontroller.js"></script>

  <style> .glyphicon-thumbs-up { cursor:pointer } </style>


  <script >
    function favouritetoggle() {

        console.log("script called");
        $('#favourite-toggle').toggleClass('glyphicon glyphicon-star gi-5x favourite-true').toggleClass('glyphicon glyphicon-star gi-5x favourite-false');
   //{'glyphicon glyphicon-star gi-5x favourite-true': favourite, 'glyphicon glyphicon-star gi-5x favourite-false': !favourite}
    }

    function startoggle(star) {
        console.log("star script called");
      console.log(star.id);
      //var id = $("#"+star.id);
      star.value.toggleClass('glyphicon glyphicon-star gi-3x gold').toggleClass('glyphicon glyphicon-star gi-3x favourite-false');

    }
  </script>

  <script>// <![CDATA[
    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/client:plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();
    // ]]></script>
</head>

<body ng-controller="mainController">
<!-- NAVBAR -->

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/"><i class="fa fa-coffee fa-lg" style="color: white;"></i> CoffeeMate Web App 1.0</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <div class="navbar-right">
        <button type="button" class="btn btn-default navbar-btn btn-success">Register</button>
        <span id="googleSignIn">
    <span id="signInButton">
    </span>


</span>
      </div>
      <li><a href="#/"><i class="fa fa-home"></i> Home</a></li>
      <li><a href="#coffee"><i class="fa fa-money"></i> Add Coffee</a></li>
      <li><a href="#coffees"><i class="fa fa-list"></i> View All Coffees</a></li>
      <li><a href="#about"><i class="fa fa-info"></i> About</a></li>
      <li><a href="#contact"><i class="fa fa-comment"></i> Contact</a></li>
    </ul>

  </div>
</nav>


<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

  <div ng-view></div>

</div> <!-- End of main div -->
<footer class="text-center">
  <p>View the Practical Lab for this App on <a href="http://ddrohan.gitbooks.io">GitBook.com</a></p>
</footer>
</body>
</html>