

a {
  color: #00B7FF;
}
.gi-small{font-size : 0.75em;}
.gi-1x{font-size: 1em;}
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.favourite-true{
  color: #00B7FF;



}

.custom-marker {
  /* margin-top: 10px; */
  background: white;
  padding: 5px;
}
.favourite-false{

  color: gray;


}
.rating > span:hover:before {
  color:gold;
}

.yellow{

  color:gold;
}
.gray{

  color:gray;
}
.blue{
  color: blue;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
}

.rating > span:hover,
.rating > span:hover ~ span {
  color: gray;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {


  right: 0;
  color: gold;
}

.gold{
  color:gold;
}

.star{
  background-color: #BCBCBC;
  padding: .75em;
  margin : .75em;
  border-radius: 20px;

}

.coffee-row{


}
.navbar{
  background-color: #063C63;
}
.coffee-table tr td{
  padding:20px;
  margin: 20px;
}
.coffee-table{

  height:55px;
  font-size:20px;



}

.map{

  max-length: 500dp;
}