


<div class="jumbotron text-center">
    <h1>Edit Coffee Page!</h1>

    <p>{{ message }}</p>

    <div ng-controller="editController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="editCoffee(coffee._id)"
                      style="margin-top:30px;">

                    <div class="form-group" align="center">
                    <p>Favourite</p>
                        <span ng-click="favourite()"  onclick="favouritetoggle()" >
                            <div ng-if="coffee.favourite == true">
                            <i  id="favourite-toggle" class="glyphicon glyphicon-star gi-5x favourite-true"></i>
                            </div>
                            <div ng-if="coffee.favourite == false">
                                <i  id="favourite-toggle" class="glyphicon glyphicon-star gi-5x favourite-false"></i>
                            </div>
                            </span>
                    </div>
                    <div class="form-group" align="center">
                        Coffee Name
                    <input type="string"
                               class="form-control"
                               ng-model="coffee.name"
                               ng-style="{'width': 250 + 'px'}"/>
                    </div>
                    <div class="form-group" align="center">
                        Coffee Shop

                     <input type="string"
                               class="form-control"
                               ng-model="coffee.shop"
                               ng-style="{'width': 250 + 'px'}"/>
                    </div>

                    <div class="form-group" align="center">
                        Price
                       <input type="number"
                               step="0.01"
                               class="form-control"
                               ng-model="coffee.price"
                               ng-style="{'width': 100 + 'px'}"/>


                    </div>

            <div class = "form-group" align = "center">
                Star Rating
                <div class = rating>
                <span id="star-toggle5" class="glyphicon glyphicon-star gi-3x"  style="color:gray " ng-click="setStar(1, coffee._id)" onclick="startoggle(this)"  >
                               </span>
                 <span id="star-toggle4" class="glyphicon glyphicon-star gi-3x"  style="color:gray " ng-click="setStar(2, coffee._id)" onclick="startoggle(this)">
                               </span>
                 <span id="star-toggle3" class="glyphicon glyphicon-star gi-3x"  style="color:gray " ng-click="setStar(3, coffee._id)" onclick="startoggle(this)">
                               </span>
                 <span id="star-toggle4" class="glyphicon glyphicon-star gi-3x"  style="color:gray " ng-click="setStar(4, coffee._id)" onclick="startoggle(this)">
                               </span>
                 <span id="star-toggle5" class="glyphicon glyphicon-star gi-3x"  style="color:gray " ng-click="setStar(5, coffee._id)" onclick="startoggle(this)">
                               </span>
                </div>
            </div>
                    <button type="submit" class="btn btn-primary">Edit Coffee</button>
                </form>

            </div>
        </div>
    </div>

    </div>