<div class = "jumbotron text-center>">
    <div class="row">
        <div ng-controller="logController">
            <div class = "col-lg-1">

            </div>
            <div class = "col-lg-5" >
                <div class="jumbotron text-center" class="text-center" style="min-height: 500px;">
                    <h2 class="text-center">Login</h2>
                    <hr>
                    <form ng-submit="login()" align="center">
                        <div class="form-group" align = "center">
                            Username
                            <input type="string"
                                   class="form-control"
                                   ng-model="userlogin.username"
                                   ng-style="{'width': 250 + 'px'}"
                            />
                        </div>

                        <div><p>{{invalid}}</p></div>


                        <div class="form-group" align="center">
                            Password
                            <input type="password"
                                   class="form-control"
                                   ng-model="userlogin.password"
                                   ng-style="{'width': 250 + 'px'}"/>
                        </div>
                        <button  type="submit" class = "btn btn-primary">Log-in</button>


                    </form>
                </div>

            </div>


            <div class = "col-lg-5" >
                <div class="jumbotron text-center" style="min-height: 500px;">
                    <h2 class="text-center">Register</h2>
                    <hr>


                    <form ng-submit="register()" align="center">
                        <div class="form-group" align = "center">
                            Username
                            <input type="string"
                                   class="form-control"
                                   ng-model="userregister.username"
                                   ng-style="{'width': 250 + 'px'}"
                            />
                        </div>
                        <div class="form-group" align="center">
                            Email
                            <input type="email"
                                   class="form-control"
                                   ng-model="userregister.email"
                                   ng-style="{'width': 250 + 'px'}"/>
                        </div>

                        <div class="form-group" align="center">
                            Location
                            <input type="string"
                                   class="form-control"
                                   ng-model="userregister.location"
                                   ng-style="{'width': 250 + 'px'}"/>
                        </div>


                        <div class="form-group" align="center">
                            Password
                            <input type="password"
                                   class="form-control"
                                   ng-model="userregister.password"
                                   ng-style="{'width': 250 + 'px'}"/>
                        </div>
                        <button type="submit" class = "btn btn-primary">Register</button>


                    </form>
                </div>


            </div>
            <div class = "col-lg-1">

            </div>
        </div>
    </div>
</div>